@charset "utf-8";

section{
    background: green;
    padding: 10px;
    margin: 3px;
}

body{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    
    "grid1 grid2"
    "grid3 grid4"
    "grid5 grid6"
    ;
}