@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1{
    color: #fc3;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h3{
    margin: 0;
    margin-top: 10px;
}

nav{
    background: #555;
}

nav a{
    color: #fc3;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    background: #444;
}

nav a:hover{
    background: #555;
}

nav a span{
    margin-right: 8px;
}

main{
    display: flex;
}

article, aside{
    padding: 10px;
}

article{
    flex: 2;
    background: #eee;
}

.ninja{
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    border: 1px solid #fc3;
    border-radius: 3px;
    padding: 3px;
}

aside{
    flex: 1;
}

footer{
    display: flex;
    background: #444;
}

section{
    flex: 1;
    padding: 10px;
}

h4{
    color: #fc3;
    margin-bottom: 0;
}

section p{
    color: white;
    margin-top: 0;
    font-size: 10px;
}

#venedig{
    background: url('images/venedig.jpg');
    background-size: cover;
    padding: 80px 8px 8px 8px;
    margin-bottom: 6px;
}

#venedig section{
    background: rgba(0,0,0,.4);
    padding: 8px;
    color: white;
}

h5{
    margin: 0;
}

#venedig section p{
    margin: 0;
}

#sangimignano{
    background: url('images/sangimignano.jpg');
    background-size: cover;
    padding: 80px 8px 8px 8px;
}

#sangimignano section{
    background: rgba(0,0,0,.4);
    padding: 8px;
    color: white;
}

#sangimignano section p{
    margin: 0;
}

