@charset "utf-8";

header{
    background: orangered;
    color: white;
}

main{
    padding: 10px;
    margin: 15px;
}

#ingredients{
    min-height: 10px;
    margin-bottom: 20px;
}

#italic{
    font-style: italic;
}

footer{
    background: darkred;
    color: white;
    text-align: center;
}

@media (min-width: 700px){
    #wrapper{
        display: flex;
    }
}

#wrapper{
    display: inline-block;
}

img{
    width: 100%;
}