@charset "UTF-8";

section{
    background: hotpink;
    padding: 10px;
    margin: 3px;
    min-height: 200px;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "grid1 grid2"
        "grid3 grid7"
        "grid5 grid6"
    ;
}

#a{
    grid-area: grid1;
}

#b{
    grid-area: grid2;
}

#c{
    grid-area: grid3;
}

#d{
    grid-area: grid7;
}

#e{
    grid-area: grid5;
}