body{
    margin: 0;
}

header{
    background: url('Images/scoops.jpg');
    padding: 100px;
    background-size: cover;
}

nav{
    background: cadetblue;
}

nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    color: white;
}

nav a:hover{
     background-color: white;
    color: cadetblue;
}

main{
    padding-left: 10px;
}

h1{
    font: 30px verdana;
    font-weight: bold;
    color: cadetblue;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

#Ice{
    width: 24%;
}

footer{
    font: 28px verdana;
    color:darkblue;
}