@charset "utf-8";

header {
    position: fixed;
    background: black;
    color: white;
    top: 0;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#sem {
    flex: 1;
}

nav a{
    color: orange;
    padding: 30px;
    font-size: 20px;
}

