body{
    margin: 0;
}

header{
    background: url('images2/Store.jpg');
    padding: 100px;
    background-size: cover;
}

nav{
    background: darkred;
}

nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    color: whitesmoke;
}

nav a:hover{
    background-color: whitesmoke;
    color: darkred
}

main{
    padding-left: 10px;
}

h1{
    font: 30px verdana;
    font-weight: bold;
    color: darkred;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}